body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(188,255,213);
  background: linear-gradient(90deg, rgba(188,255,213,1) 0%, rgba(255,255,255,1) 100%);   
  width:1100px;
margin:0px auto;

  
}
.p1{
  display: inline-block;
  bottom: 30px;
  padding: 2px 20px 21px 40px;
  color: #df1410;
  text-shadow: 1px 2px 3px black;
  font-weight: 700;
  font-size: 28px;
}
a {
color: #31fb5a;
}


#container {
margin: 0 auto;
}

p {
text-align: center;
}

nav {
margin: 0 auto;
height: 100%;
background-color: transparent;
/* box-shadow: 0px 3px 20px 3px #3380d2; */
}

nav ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  position: relative;
  text-align: center;
  display: flex;
  z-index: 1;
}

nav ul li {
display:inline-block;
background-color: transparent;
}
nav a {
  display: flex;
  padding:16px 20px; 
  color:#000;
  font-size:15px;
  line-height: 50px;
  text-decoration:none;
  font-weight: 700;
  text-shadow: 1px 2px 3px #00529e;
  transition: all 300ms ease ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: baseline;
  justify-content: space-evenly;
  flex-direction: row;
  padding-right: 17px;
}


nav a:hover { 
  color: #00529e; 
  transform: scale(1.1);
  text-shadow: 1px 2px 3px #000;
}

/* Hide Dropdowns by Default */
nav ul ul {
display: none;
position: absolute; 
top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
width:150px;
float:none;
display:list-item;
position: relative;
}
span{
  color: #000000;
  font-weight: 800;
}

/* Second, Third and more Tiers */
nav ul ul ul li {
position: relative;
top:-60px; 
left:170px;
}


i {
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin: -7px 0 0px 7px;
  vertical-align: middle;

}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} 




/* images gallery  */
.images {
  display: inline-block;
  justify-content: space-around;
  flex-wrap: wrap;
}

.images {
  width: 250px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
  position: relative;
  padding: 0 40px;
}

.images img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.images:hover img {
  transform: scale(1.1);
}

.images:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
}

.image:hover:before {
  opacity: 1;
}

